<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
	<div class="container-narrow">
		<!-- <%= link_to "Micktel", root_path, id: "logo" %> -->
		<nav>
		<ul class="nav pull-right">
			<li><%= link_to "Home",      root_path %></li>
			<li><%= link_to "Products",  products_path %></li>
			<li><%= link_to "TF Numbers",tfnumber_path %></li>
			<li><%= link_to "Support",   support_path %></li>
			<li><%= link_to "Guide",     guide_path %></li>
			<li><%= link_to "FAQ",       faq_path %></li>
		</ul>
		</nav>
	</div>
</div>
</header>

